<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transaction:</strong>
    <%= transaction.transaction_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= transaction.payment_id %>
  </p>

  <p>
    <strong>Card number:</strong>
    <%= transaction.card_number %>
  </p>

  <p>
    <strong>Amount approved:</strong>
    <%= transaction.amount_approved %>
  </p>

  <p>
    <strong>Response message:</strong>
    <%= transaction.response_message %>
  </p>

  <p>
    <strong>Rrn:</strong>
    <%= transaction.rrn %>
  </p>

</div>
