<a
  href="<%= product_path product %>"
  class="
    rounded border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700
    dark:bg-gray-800
  "
>
  <div class="h-56 w-full">

    <% if product.picture.attached? %>
      <%= image_tag product.picture, class: "h-full w-full" %>
    <% else %>
      <%= image_tag "image.webp", class: "h-full w-full" %>
    <% end %>
  </div>
  <div class="pt-6">

    <div
      class="
        text-lg font-semibold leading-tight text-gray-900 hover:underline
        dark:text-white
      "
    ><%= product.selection %></div>

    <div class="mt-4 flex items-center justify-between gap-4">
      <p class="text-2xl font-extrabold leading-tight text-gray-900 dark:text-white">$<%= product.price %></p>
    </div>
  </div>
</a>
